h1 {
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 1.5em;
  margin-bottom: 1rem;
  text-transform: lowercase;
}

h2 {
  text-transform: lowercase;
}

p {
  text-transform: lowercase;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nav-height);
  color: var(--black);
  background-color: var(--light-cream);
  z-index: 999;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

nav ul li {
  text-transform: uppercase;
  display: inline-block;
  margin: 0 0.6rem;
}

nav ul a li {
  font-size: 1.6rem;
  font-weight: 500;
  display: inline-block;
  padding: 0.5rem 1rem;
  color: var(--black);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition: 0.3s ease;
}
nav ul li a:hover {
  color: var(--seagreen);
}

nav .logo {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.nav .logo:hover {
  color: var(--rose);
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* hero */
.hero {
  padding-top: calc(var(--nav-height) + 10px);
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  position: relative;
}

.hero-info {
  flex: 3;
}
.hero-img {
  flex: 4;
}
.hero-img img {
  object-fit: contain;
  z-index: -1;
}

.hero h1 {
  font-size: 6rem;
  line-height: 4rem;
  font-weight: 300;
}
.hero-title {
  margin-bottom: 2rem;
}

.hero p {
  font-size: 1.8rem;
  line-height: 1.4em;
  color: var(--black);
}
.hero-desc {
  margin-bottom: 1.5rem;
}

.hero-icons {
  display: flex;
  gap: 1.5rem;
}

.hero button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 1rem 0;
  font-size: 2.4rem;
}

.hero button:hover {
  color: var(--seagreen);
}

.star-icons {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 100;
  cursor: pointer;
  gap: 0.5rem;
  margin-right: 1rem;
}

.star-icon:hover {
  color: var(--seagreen);
}

/* about */
.about {
  color: var(--black);
  margin-bottom: 4rem;
  min-height: 60vh;
  display: flex;
  justify-content: center;
}

.about-desc {
  font-size: 1.8rem;
  line-height: 1.4em;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-text {
  flex: 3;
}

.about-img {
  flex: 3;
}

/* projects */

.creations {
  color: var(--black);
  margin-bottom: 6rem;
  min-height: 60vh;
  display: flex;
}

.creations-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.creation-item {
  text-align: left;
  padding: 2rem;
  border-radius: 12px;
  background-color: var(--turquoise);
  color: var(--light-cream);
  transition: all 0.3s ease;
}

.creation-item:hover {
  background-color: #516470;
  transform: scale(1.05);
}

.creation-icons {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
  color: var(--seagreen);
}

.icon:nth-child(2) {
  cursor: pointer;
  color: var(--seagreen);
}

.icon:nth-child(2):hover {
  color: var(--rose);
}

.creation-title {
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.5em;
  margin-bottom: 1rem;
  text-transform: lowercase;
}

.creation-desc {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  opacity: 0.9;
}

.creation-lang {
  font-size: 1.3rem;
  opacity: 0.9;
}

/* Experience */
.experience {
  font-size: 1.5rem;
  margin: 0px 0px 60px 0;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

#resume {
  color: var(--turquoise);
}

#resume:hover {
  color: var(--rose);
}

.experience .company {
  color: var(--pit);
}

.exp-body {
  display: flex;
  flex-direction: column;
}

.exp-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.exp-card {
  flex: 1;
  min-width: 200px;
  border-radius: 5px;
  background-color: var(--cream);
  padding: 30px;
  text-align: left;
  color: var(--black);
}

.exp-card:hover {
  filter: brightness(0.9);
}

.exp-card ul {
  margin: 0;
  padding: 0px 10px;
  align-items: center;
  list-style: none;
  margin-left: -20px;
}

.exp-card li {
  margin: 10px;
  color: (var(--black));
  position: relative;
  padding-left: 20px;
}

.exp-card li::before {
  content: "▸    ";
  color: var(--pit);
  position: absolute;
  left: 0;
}

.exp-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.exp-card > h2 {
  margin: 0;
  text-transform: lowercase;
  text-align: center;
  font-weight: 400;
}

.exp-card h4 {
  font-weight: 200;
  text-align: center;
  margin: 10px 0;
}

/*timeline*/
.timeline {
  margin-top: var(--nav-height);
  width: 100%;
}

.timeline-content {
  width: 100%;
}

.timeline h1 {
  margin-bottom: 4rem;
  line-height: 4rem;
  font-weight: 300;
  text-align: center;
  color: var(--black);
}

.feather {
  color: var(--rose);
}

.post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.post-form input,
textarea {
  border: 1px solid var(--black);
  border-radius: 4px;
  font-size: 1.6rem;
  padding: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: var(--light-cream);
  width: 60%;
  resize: none;
}

.post-form > button {
  border: none;
  font-size: 1.4rem;
  padding: 1.5rem;
  background-color: var(--seagreen);
  border-radius: 4px;
  cursor: pointer;
  width: 60%;
}

.post-form > button:hover {
  opacity: 0.9;
}

.posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

.post .user-heading > img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100px;
  margin-right: 10px;
}

.post .user-heading {
  display: flex;
}

.text {
  width: 100%;
}

.post-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.post-name {
  font-size: 0.9em;
}

.post-email {
  font-size: 0.8em;
}

.post {
  display: flex;
  width: 100%;
  flex-direction: column;
  border: 1px solid var(--black);
  padding: 20px;
  font-size: 1.5em;
  border-radius: 5px;
}

.post-content {
  margin-left: 50px;
}

/* footer */

footer {
  text-align: center;
  text-transform: lowercase;
  font-size: 15px;
  padding: 40px 0px 10px 0px;
  color: var(--space-cadet);
}

/* error */

.error {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error > a {
  color: var(--space-cadet);
}

/* responsive */

@media only screen and (max-width: 900px) {
  .exp-card {
    font-size: 0.8rem;
    width: 100%;
  }

  .nav-menu {
    justify-content: center;
  }

}

@media only screen and (max-width: 600px) {
  .home {
    flex-direction: column;
  }

  .about-content {
    flex-direction: column;
  }

  .creations-title {
    text-align: center;
  }

  .creations-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  .experience {
    align-items: center;
  }

  .exp-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .exp-card {
    font-size: 1em;
    margin: 20 0;
  }

  .nav-menu li {
    font-size: 1rem;
    text-align: center;
  }

}
