:root {
  --space-cadet: #24346aff;
  --red-salsa: #f05d5eff;
  --lavender-blush: #fff5ee;
  --moss-green: #7a8450ff;
  --honey-yellow: #ffb20fff;
  --grey: #f1f1f1;

  --black: #282525;
  --navbar-height: 50px;

  scroll-behavior: smooth;
}

body {
  padding: 0px 20px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--grey);
}

* {
  font-family: "Quicksand", sans-serif;
}

h1 {
  color: var(--space-cadet);
  text-transform: lowercase;
  margin: 30;
}

h2 {
  text-transform: lowercase;
}

p {
  text-transform: lowercase;
}

a {
  text-decoration: none;
  color: #fff;
}

nav {
  width: 100%;
  padding: 20px 0px;
  background-color: var(--grey);
  z-index: 999;
  position: absolute;
  top: 0;
  height: var(--navbar-height);
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0;
}

ul {
  list-style: none;
}

ul a {
  text-decoration: none;
  color: var(--red-salsa);
  text-transform: lowercase;
}

ul a:hover {
  color: var(--red-salsa);
}

.home {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #6b6e70;
  font-size: 1.3rem;
  height: 100vh;
}

.home h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  color: var(--red-salsa);
}

.home p {
  margin: 0;
}
.home .tag:hover {
  color: var(--honey-yellow);
  font-size: 110%;
  transition: 0.3s ease-out;
}

.home .links {
  display: flex;
}

.home ul.links {
  padding: 0;
}

.home .links li {
  font-size: 1.5rem;
  margin: 10px;
  color: var(--space-cadet);
}

.home .links li:hover {
  color: var(--honey-yellow);
}

/* about */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1024px;
  margin-bottom: 20px;
}
.about-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about > a {
  color: var(--space-cadet);
  font-size: 0.5rem;
  text-align: right;
}

.about-right > a > img {
  width: 400px;
}

/* projects */

.projs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px 0px 50px 0;
}

.projs h1 {
  color: var(--space-cadet);
  text-align: center;
}

.proj-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 40px;
}

.proj-card {
  color: var(--space-cadet);
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  border: 2px solid transparent;
  background-color: rgba(255, 255, 255, 0.85);
  position: relative;
  font-size: 15px;
  text-align: center;
}

.proj-card:hover {
  border: 2px solid var(--red-salsa);
}

.proj-card img {
  width: 150px;
}

.proj-card .proj-descrip {
  color: #6b6e70;
  margin-top: 0;
}

.proj-card .tools {
  color: var(--space-cadet);
}

.proj-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
}

.proj-button {
  color: var(--space-cadet);
}

.proj-button:hover {
  cursor: pointer;
  color: var(--red-salsa);
}

/* Experience */
.experience {
  margin: 0px 0px 60px 0;
  width: 100%;
  max-width: 1024px;
  gap: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#resume {
  color: var(--space-cadet);
}

#resume:hover {
  color: var(--red-salsa);
}

.experience .company {
  color: var(--red-salsa);
}

.experience > h1 {
  color: var(--space-cadet);
}

.exp-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.exp-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.exp-card {
  flex: 1;
  min-width: 200px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.85);
  padding: 30px;
  text-align: left;
  color: var(--space-cadet);
}

.exp-card:hover {
  filter: brightness(0.9);
}

.exp-card ul {
  margin: 0;
  padding: 0px 10px;
  align-items: center;
  list-style: none;
  margin-left: -20px;
}

.exp-card li {
  margin: 10px;
  color: (var(--space-cadet));
  position: relative;
  padding-left: 20px;
}

.exp-card li::before {
  content: "▸    ";
  color: var(--honey-yellow);
  position: absolute;
  left: 0;
}

.exp-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.exp-card h2 {
  margin: 0;
  text-transform: lowercase;
  text-align: center;
}

.exp-card h4 {
  font-weight: 200;
  text-align: center;
  margin: 10px 0;
}

/*timeline*/
#form-h1 {
  color: var(--red-salsa);
}

.contact,
.create-post {
  width: 100%;
  margin: 15vh 0 10vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-post {
  margin: 5vh 0 5vh 0;
}

.create-post h1:hover {
  filter: brightness(1.4);
  cursor: default;
}

.contact-form,
.post-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact-form input,
textarea,
.post-form input,
.post-form textarea {
  border: var(--red-salsa) 1px solid;
  border-radius: 8px;
  font-size: 15px;
  padding: 10px;
  width: 40%;
}

.contact-form input::placeholder,
textarea::placeholder,
.post-form input::placeholder {
  color: grey;
}

.contact-form button,
.post-form button {
  border: none;
  background-color: var(--red-salsa);
  color: #fff;
  padding: 10px 15px;
  border-radius: 2px;
}

.contact-form button:hover,
.post-form button:hover {
  cursor: pointer;
  filter: brightness(1.4);
}

/* timeline posts */
.timeline h1 {
  color: var(--space-cadet);
}

.posts {
  width: 80vw;
}

.post {
  background-color: rgba(255, 255, 255, 0.85);
  color: var(--space-cadet);
  padding: 20px;
  margin: 10px;
  border-radius: 3px;
}

.post-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.post:hover {
  filter: brightness(0.9);
}

.post h4 {
  margin: 0;
}

.post h5 {
  margin: 4px 0px;
}

.post .text {
  width: 100%;
}

.post-time {
  font-size: 13px;
  margin: 0;
}

.post .user-heading {
  display: flex;
}

.post-content {
  margin-top: 5px;
}

.post .user-heading .text {
  flex-direction: column;
  margin-left: 10px;
}

.post img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

/* footer */

footer {
  text-align: center;
  text-transform: lowercase;
  font-size: 15px;
  padding: 40px 0px 10px 0px;
  color: var(--space-cadet);
}

/* error */

.error {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error > a {
  color: var(--space-cadet);
}

/* responsive */

@media only screen and (max-width: 900px) {
  .proj-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .exp-card {
    font-size: 0.7rem;
    width: 80%;
  }

  .nav-menu {
    justify-content: center;
  }

  #mapdiv {
    width: 300px;
  }

  .contact-form input,
  textarea {
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .home {
    flex-direction: column;
  }

  .about-content {
    flex-direction: column;
  }

  .proj-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .exp-card {
    font-size: 0.8rem;
    width: 70%;
    margin: 20 0;
  }

  .nav-menu li {
    font-size: 1rem;
    text-align: center;
  }

  .max-width {
    padding: 20px;
  }
}
